/** {
  border: 1px solid red;
}*/

.subject {
  width: 150px;
  border-radius: 10px;
  background: #61b8db;
  background-image: -webkit-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
  padding: 10px 10px 10px 10px;
}