.potluck {
  background: url('../cookies.png') no-repeat;
  background-size: cover;
  height: 1400px;
  padding-top: 10px;
  opacity: 0.7;
  transition: opacity 3s ease;
}

.potluck:hover {
  opacity: 1;
}

.potluckheader h1 {
  color: black;
}
/*
.potluckfield {
  width: 100%;
}*/

.potluck div div h1 {
  color: black;
}

td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}