.rsvp {
  background: url('../party3.png') no-repeat;
  background-size: cover;
  height: 1600px;
  opacity: 0.7;
  padding-top: 10px;
  transition: opacity 3s ease;
}

.rsvp:hover {
  opacity: 1;
}

div h1 {
  color: white;
  padding-top: 10px;
}

.yesno {
  width: 20%;
}

.rsvp-table .odd td {
  background-color: #C21717;
  color: white;
  font-size: 150%;
}

.rsvp-table .even td {
  background-color: #3C8D0D;
  color: white;
  font-size: 150%;
}
