# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  google_client_id: <%= ENV["GOOGLE_CLIENT_ID"] %>
  google_client_secret: <%= ENV["GOOGLE_CLIENT_SECRET"] %>
  secret_key_base: 79be0d5f9dd71c032e3f087496ffae15668fec4547947b4dbb22cd6a0b4388d190da8d54cea862368a524a6c172cf7928768b13410a18356bf079ea67323f186

test:
  secret_key_base: 1dd556cf88640b20f2f5f269e7ed1bd1f07fe31385b7c8f4048dec92ba5b2fe838d1e79c8c73a4c041efa428439fc67fb17dd3152759fb16fbb86f19b913b86c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  google_client_id: <%= ENV["GOOGLE_CLIENT_ID"] %>
  google_client_secret: <%= ENV["GOOGLE_CLIENT_SECRET"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
