<div class="row home">
  <div class="infowrapper">
  <!-- <div class="info container"> -->
  <div class="large-6 columns small-centered text-center">
    <div class="panel">
      <h2>Welcome {{user.first_name}}!</h2>
      <div ng-hide='loggedin'>
      <p>
      3rd Annual Holiday Party!!!<br>
      When: 5:00 PM, Saturday, December 20th, 2014<br>
      Where: 1267 N. Honore St., Chicago, IL 60622<br>
      <a href="http://example.com/link-to-your-event" title="Add to Calendar" class="addthisevent" data-direct="google">
        Add to Calendar
        <span class="_start">12-20-2014 17:00:00</span>
        <span class="_end">12-21-2014 03:00:00</span>
        <span class="_zonecode">11</span>
        <span class="_summary">3rd Annual Holiday Party!</span>
        <span class="_description"></span>
        <span class="_location">Chicago, IL</span>
        <span class="_organizer"></span>
        <span class="_organizer_email"></span>
        <span class="_facebook_event"></span>
        <span class="_all_day_event">false</span>
        <span class="_date_format">DD/MM/YYYY</span>
      </a>
      </p>
      <div ng-hide='loggedin'>
        <button class="large" ng-click="seeRSVP()">RSVP</button>
        <button class="large" ng-click="seePotluck()">Potluck</button>
      </div>
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCB3Ca4V0Po_5SqQMOwdHXohBIgiGFIla8
        &q=1267+N+Honore+St,Chicago+IL">
      </iframe>
      </div>
      <div ng-show='loggedin'>
        <a href="/auth/google_oauth2" class="button large">
          <i class="fa fa-google-plus-square"></i>
          Login via Google
        </a>
         <p>Don't have an account yet? <i><a href="https://accounts.google.com/Signup">Sign up here &raquo</a></i></p>
      </div>
    </div>
  </div>
  <!-- </div> -->
  </div>
</div> 
<div class="row home">
  <div class="presentwrapper">
  <div class="large-6 columns small-centered text-center">
    <div class="panel two">
      <h2>Information</h2>
      <div class="text-left" ng-hide='loggedin'>
      <p>
      White Elephant: Please bring a wrapped gift costing less than $25<br>
      Potluck: All items must be Vegetarian!<br>
      +1's: All are welcome! Please have them register here<br>
      </p>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="row home"> 
  <!-- <div class="large-12 columns"> -->
    <div class="picture container">
    </div>
  <!-- </div> -->
  </div>