<div class="potluck">
  <div class="potluckrow">
    <div class="large-6 columns">
      <table>
        <thead>
          <tr>
            <th><a href="" ng-click="predicate = 'full_name'; reverse=false">Name</a></th>
            <th><a href="" ng-click="predicate = 'category'; reverse=!reverse">Category</a></th>
            <th><a href="" ng-click="predicate = 'potluck'; reverse=!reverse">Item</a></th>
          </tr>
        </thead>
        <tbody class="potluck-table" ng-repeat="user in attendees | orderBy:predicate:reverse">
          <tr ng-class-odd="'odd'" ng-class-even="'even'">
            <td width="200">{{user.full_name}}</td>
            <td width="223">{{user.category}}</td>
            <td width="256">{{user.potluck}}</td>
          </tr>
         </tbody>
      </table>
    </div>
    <div class="large-6 columns text-center">
    <div ng-show="response" class="panel">
      <h1>What are you bringing {{user.first_name}}?</h1>
        <input type="text" ng-model="user.potluck" class="potluckfield"><br>
      <button ng-click="updatePotluck(user)" class="small">Submit</button>
      <button ng-click="cancel()" class="small">Cancel</button>
    </div>
    <div ng-hide="response" class="potluckheader text-center">
      <h1>Potluck</h1>
      <div ng-show="update">
        <button ng-click="seeForm()" class="small">Update</button>
      </div>
    </div>
    </div>
  </div>
</div>