<div class="rsvp">
<div class="row">
  <div class="large-4 columns text-center">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Attending?</th>
        </tr>
      </thead>
      <tbody ng-repeat="user in allUsers">
        <tr>
          <td width="300">{{user.full_name}}</td>
          <td width="100">{{user.rsvp}}</td>
        </tr>
       </tbody>
    </table>
  </div>
  <div class="large-8 columns text-center">
  <div ng-show="response" class="panel">
    <h1>Will you be attending {{user.first_name}}?</h1>
    <select class ="yesno" ng-model="user.rsvp">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select><br>
    <button ng-click="updateRSVP(user)" class="small">Submit</button>
    <button ng-click="cancel()" class="small">Cancel</button>
  </div>
  </div>
  <div ng-hide="response" class="rsvpheader text-center">
    <h1>RSVP</h1>
    <div ng-show="update">
      <button ng-click="seeForm()" class="small">Update</button>
    </div>
  </div>
</div>
</div>